<template>
  <div>
    <h1>Drag</h1>
    <hr>
    <div class="container">
      <div class="inline-flex">
        <Tree :data="tree1data" draggable="draggable" cross-tree="cross-tree" @change="changeTree">
          <div slot-scope="{data, store}" class="border-black border-dotted border-2 text-left pl-1">
            <template v-if="!data.isDragPlaceHolder">
              <b v-if="data.children &amp;&amp; data.children.length" @click="store.toggleOpen(data)" class="cursor-pointer">
                {{data.open ? '-' : '+'}}&nbsp;
              </b>
              <span class="inline-flex cursor-move">{{data.text}}</span>
            </template>
          </div>
        </Tree>
      </div>
    </div>
  </div>
</template>

<script>
import {DraggableTree} from 'vue-draggable-nested-tree'
export default {
  components: {
    Tree: DraggableTree
  },
  data () {
    return {
      tree1data: [
        {text: 'node 1'},
        {text: 'node 2'},
        {text: 'node 3 undraggable', draggable: false},
        {
          text: 'node 5',
          children:
          [
            {text: 'node 1'},
            {
              text: 'node 2',
              children:
              [
                {text: 'node 4'}
              ]
            },
            {
              text: 'node 2 undroppable',
              droppable: false,
              children:
              [
                {text: 'node 3'}
              ]
            },
            {
              text: 'node 2',
              children:
              [
                {text: 'node 3'},
                {text: 'node 4 undroppable', droppable: false}
              ]
            },
            {text: 'node 3'},
            {text: 'node 4'},
            {text: 'node 4'}
          ]
        }
      ]
    }
  },
  methods: {
    changeTree (node, targetTree, oldTree) {
      // console.log(node, targetTree, oldTree, this.tree1data)
    }
  }
}
</script>
