<template>
  <div class="sidenav" :style="{backgroundImage: 'url('+image+')'}">
    <div id="overlay">
      <router-link :to="{ name : 'Index' }">
        <img src="@/assets/logo.png" class="h-16 mt-3">
      </router-link>
      <router-link :to="{ name : 'Drag' }">Drag</router-link>
      <router-link :to="{ name : 'Slick' }">Slick</router-link>
      <!-- <router-link :to="{ name : 'FluxSlider' }">Flux Slider</router-link> -->
      <button class="bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded align-bottom" @click="changeImage">
        ChangePicture
      </button>
      </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      image: 'https://source.unsplash.com/random/?sky'
    }
  },
  methods: {
    changeImage () {
      this.image = 'https://source.unsplash.com/random?sky,' + Math.floor(Math.random() * 200)
    }
  }
}
</script>
<style scoped>
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
</style>
