<template>
  <div id="app" class="container">
    <sidebar></sidebar>
    <div class="main">
      <router-view/>
    </div>
  </div>
</template>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>
<script>
import sidebar from '@/components/partials/sidebar'
import '@/assets/styles/main.css'

export default {
  name: 'App',
  components: {
    sidebar
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  height: 100%;
}
/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  /*padding: 0px 10px;*/
}
</style>
