<template>
  <div>
    <vue-flux
     :options="fluxOptions"
     :images="fluxImages"
     :transitions="fluxTransitions"
     ref="slider">
  </vue-flux>

  <button @click="$refs.slider.showImage('next')">NEXT</button>
  </div>
</template>
<script type="text/javascript">
import { VueFlux, Transitions } from 'vue-flux'
// import './node_modules/vue-flux/dist/vue-flux.css';

export default {
  components: {
    'vue-flux': VueFlux
  },

  data: () => ({
    fluxOptions: {
      autoplay: true
    },
    fluxImages: [
      'https://source.unsplash.com/random',
      'https://source.unsplash.com/random',
      'https://source.unsplash.com/random'
    ],
    fluxTransitions: {
      transitionTurn3d: Transitions.transitionTurn3d
    }
  })
}
</script>
