<template>
<div class="container">
  <slick
  ref="slick"
  :options="slickOptions">
    <img src="https://source.unsplash.com/1600x900/?music" alt="">
    <img src="https://source.unsplash.com/1600x900/?water" alt="">
    <img src="https://source.unsplash.com/1600x900/?nature" alt="">
    <img src="https://source.unsplash.com/1600x900/?love" alt="">
  </slick>
</div>
</template>
<script>
import Slick from 'vue-slick'
import './../../../node_modules/slick-carousel/slick/slick.css'
import './../../../node_modules/slick-carousel/slick/slick-theme.css'
export default {
  components: { Slick },
  data () {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
        dots: true
      }
    }
  }
}
</script>
